<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeboard.htn.codeboard">

    <application
        android:name="com.codeboard.htn.codeboard.util.CodeBoard"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".explorer.ScriptExplorerActivity"
            android:label="@string/ScriptsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".image.SnippetCaptureActivity"
            android:label="@string/SnippetActivity"/>

        <activity
            android:name=".editor.CodeEditorActivity"
            android:label="@string/EditorActivity"/>
    </application>

    <!-- Camera requirement -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>